@import 'fucntion.scss';

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.flex-nowrap .item {
    flex: 1 1 auto;
}

.border-right-item .item:not(:last-child) {
    border-right: betterClamp(1, 3) dashed #dedede;
}

.border-right {
    border-right: betterClamp(1, 3) dashed #dedede;
}

.border-bottom {
    border-bottom: betterClamp(1, 3) dashed #dedede;
}

.w-20 {
    width: 20%;
}

.w-100 {
    width: 100%;
}

.flex-1 {
    flex: 1 1 auto;
}

.flex-nowrap .item.flex-2 {
    flex-grow: 2;
}

.flex-none {
    flex: none !important
}

.align-flex-start {
    align-items: flex-start;
}

.item-center {
    align-items: center;
}

.item-stretch {
    align-items: stretch;
}

.container-new {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 0;
    padding-left: betterClamp(16, 36);
    padding-right: betterClamp(16, 36);
}

.col,
.columns,
.gallery-item {
    padding: 0 15px 30px;
    padding-left: betterClamp(8, 15) !important;
    padding-right: betterClamp(8, 15) !important;
    padding-bottom: betterClamp(15, 30) !important;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.m-0 {
    margin: 0;
}

.mb-1\/2 {
    margin-bottom: 0.25rem;
}
.mb-3{
    margin-bottom:betterClamp(7, 40)!important;
}
.bg-fill.not-cover{
    background-size: auto!important;
}
.border-right-50 .item:not(:last-child) {
   position: relative;
    &:after{
         content: '';
         position: absolute;
         right: 0;
         top: 50%;
         bottom: 0;
         border-right: betterClamp(1, 3) dashed #dedede;        
         height: 50%;
         transform: translate(0, -50%);
         
    } 
}
.pb-42-to-10{
    padding-bottom: betterClamp(24, 42);
}
.w-25{
    width: 25%;
}
.w-fit{
    width: fit-content;
}
.align-flex-end{
    align-items: flex-end;
}
