.box-coffee-roman .item:first-child {
  padding: 0 1.5rem;
  padding-left: clamp(0.5rem, 0.1538461538rem + 1.5384615385vw, 1.5rem);
  padding-right: clamp(0.5rem, 0.1538461538rem + 1.5384615385vw, 1.5rem);
}
.box-coffee-roman .item:not(:first-of-type) {
  padding: 0 1.5rem;
  padding-left: clamp(0.5rem, 0.1538461538rem + 1.5384615385vw, 1.5rem);
  padding-right: clamp(0.5rem, 0.1538461538rem + 1.5384615385vw, 1.5rem);
  margin: 1.5rem 0;
  margin-top: clamp(0.5rem, 0.1538461538rem + 1.5384615385vw, 1.5rem);
  margin-bottom: clamp(0.5rem, 0.1538461538rem + 1.5384615385vw, 1.5rem);
}

.icon-svg {
  width: 100%;
  max-width: 200px;
}

.icon-roma-container {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: clamp(2.5rem, -0.9615384615rem + 15.3846153846vw, 12.5rem);
}