@import 'fucntion.scss';

.box-coffee-roman {
    .item:first-child {
        padding: 0 1.5rem;
        padding-left: betterClamp(8, 24);
        padding-right: betterClamp(8, 24);
    }

    .item:not(:first-of-type) {
        padding: 0 1.5rem;
        padding-left: betterClamp(8, 24);
        padding-right: betterClamp(8, 24);
        margin: 1.5rem 0;
        margin-top: betterClamp(8, 24);
        margin-bottom: betterClamp(8, 24);
    }
}

.icon-svg {
    width: 100%;
    max-width: 200px;
}

.icon-roma-container {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: betterClamp(40, 200);
}

.flex-nowrap .item img {
    width: betterClamp(100, 250);
}

.title-roman {
    font-size: betterClamp(12, pt-to-px(40), 360, 1400);
    line-height: betterClamp(12, pt-to-px(40), 360, 1400);
    word-spacing: betterClamp(0.5, 3, 660, 1400);
    letter-spacing: betterClamp(0.5, 4, 660, 1400);
    margin-bottom: betterClamp(10, 20);
}

.sub-title-roman {
    font-size: betterClamp(8, pt-to-px(27), 360, 1400);
    line-height: betterClamp(8, pt-to-px(27), 360, 1400);
    word-spacing: betterClamp(1, 3, 460, 1400);
    letter-spacing: betterClamp(1, 4, 460, 1400);
    margin: 0;
}

.divider {
    height: betterClamp(0.5, pt-to-px(1.5));
    display: block;
    margin: betterClamp(16, 40) 0;
    width: 60%;
}

.box-coffee-roman-cam-hung {
    .item {
        padding: 0 1.5rem;
        padding-left: betterClamp(8, 24);
        padding-right: betterClamp(8, 24);
        margin: 1.5rem 0;
        margin-top: betterClamp(8, 24);
        margin-bottom: betterClamp(8, 24);
    }
}

.image-cafe-van-minh-1 {
    margin-right: auto;
}

.image-cafe-van-minh-2 {
    width: 80%;
    margin-left: auto;
}

.image-cafe-van-minh-1 img {
    max-width: 100%;
}

.flex-basic-30 {
    flex-basis: 30%;
}

.flex-basic-70 {
    flex-basis: 70%;
}

.column-gap-30 {
    column-gap: betterClamp(10, 30);
}

.color-content-roman {
    column-gap: 2rem;

    >p {
        font-size: betterClamp(8, pt-to-px(22), 360, 1400);
        line-height: betterClamp(8, pt-to-px(26), 360, 1400);
        flex: 1;
        color: #6D6E71;
        margin: 0;
    }

    >div {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: betterClamp(90, 150);

        a span {
            font-size: betterClamp(8, 16);
            letter-spacing: betterClamp(2, 3);
            line-height: betterClamp(1, 1.3);

        }

        a {
            min-height: betterClamp(pt-to-px(16), pt-to-px(35));
            padding-left: betterClamp(10, 16);
            padding-right: betterClamp(10, 16);

            i {
                width: betterClamp(10, 15);
                height: betterClamp(10, 15);
                font-size: betterClamp(10, 15);
            }
        }
    }
}

.divider-content-roman {
    height: betterClamp(0.5, pt-to-px(1.5));
    display: block;
    margin: betterClamp(14, 28) 0;
    width: 60%;
}

.pb-52-to-20 {
    padding-bottom: betterClamp(20, 52);
}